.about-wrapper{
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
}

.about-wrapper>img{
	width: 60vw;
	height: 40vh;
	border-radius: 10px;
	margin: 25px;
}

p{
	font-size: 24px;
	margin: 16px;
	font-style: italic;
}
h1{
	color: gold;
	font-size: 38px;
	
}